<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@askesian">
        <meta name="twitter:title" content="ASKESIAN">
        <meta name="twitter:description" content="The home of askesian">
        <meta name="twitter:creator" content="@askesian">
        <meta name="twitter:domain" content="askesian.net">
        <link href="/assets/css/main.css" rel="stylesheet">
        <meta name="google-site-verification" content="U6YPESxNVHg41T6gYx640_oFdniD2hQZ6jaiYWJBsUY" />
        <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    </head>
    <body>
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
        <script src="/assets/js/all.js"></script>
    </body>
</html>
