---
layout: default
class: home
---

<div class="main" role="main">
  {{ content }}
</div>

<aside class="articles articles--external">

  <header>
    <h1>Other Writings</h1>
  </header>

  <div class="article">

    <a class="link--external" href="//uxmag.com/articles/modals-on-mobile-how-to-use-them-wisely" title="Modals on mobile: How to use them wisely">Modals on mobile: How to use them wisely</a>
    <div class="external-article__date">May 28, 2015</div>

  </div>

  <div class="article">

    <a class="link--external" title="Editing Files on Raspberry Pi with Local Sublime" href="//www.onenorth.com/blog/post/editing-files-on-raspberry-pi-with-local-sublime">Editing Files on Raspberry Pi with Local Sublime</a>
    <div class="external-article__date">March 23, 2015</div>

  </div>

</aside>