---
layout: default
blog: true
---

<div class="article">
    <div class="article-header">
        <h1 class="article-header-title">{{ page.title }}</h1>
        <div class="article-header-date">
            {{ page.date | date: "%b %Y" }}
        </div>
    </div>
    <div class="article-body">
        {{ content }}
    </div>
    <div class="article-footer">
        <div class="article-footer-date">
            {% if page.updated_at %}
                revised: {{ page.updated_at }}
            {% endif %}
        </div>
    </div>
</div>
