.main-nav {
  background: $color-pomegranate;
}

.wrapper--main-nav {
  position: relative;
  max-width: $max-width;
  margin: auto;
  padding: 1em;
}

.brand {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.brand-link {
  color: $color-off-white;

  &:hover,
  &:focus {
    border: 0;
  }
}

.nav-list {
  position: absolute;
  left: auto;
  right: 1em;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2.5;
}

.nav-list__item {
  display: inline-block;
}

.nav-list__link {
  padding: 0.5em 0.875em;
  color: $color-off-white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border: 0;
  }
}