.post-list {
  margin-bottom: 3em;
}

.section--featured {
  margin-bottom: 4em;
}

.older-posts {
  .section-title {
    font-size: 80%;
    text-transform: uppercase;
    color: $color-lt-grey;
  }
}

.post {
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.post-header {
  margin-bottom: 1em;
}

.post-title {
  margin-bottom: 0;
}

.post-content {
  overflow: hidden;
}

.post-meta {

}

.post-body {
  p:last-child {
    margin-bottom: 0;
  }
}

.post-date {
  display: block;
  font-size: 90%;
  color: $color-lt-grey;
}

.post-title__link {
  text-decoration: none;
  color: $color-headings;

  &:hover,
  &:focus {
    color: $color-headings-hover;
  }

  &[data-visited="true"] {
    &:after {
      content: " (seen)";
      font-size: 50%;
      color: $color-lt-grey;
    }
  }
}

.post-more {

}