$max-line-length: 40em;
$max-width: 72em;

$body-font-family: Lato, Helvetica, sans-serif;
$heading-font-family: Lato, Helvetica, sans-serif;

// colors
$color-body-text: #333;
$color-brand: #369;
$color-links: #369;
$color-links-hover: #016;

$color-headings: #016;

$color-off-white: #F1F1F1;