@import "config";

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
         url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
         url('../fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


html,
body {
  height: 100%;
}

body {
  background: $color-off-white;
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;

  .fonts-loaded & {
    font-family: Lato, sans-serif;
  }
}

a {
  color: $color-links;

  &:active,
  &:hover {
    color: $color-links-hover;
  }
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

.wrapper--header {
  max-width: $max-width;
  margin: auto;
}

.page {
  max-width: $max-width;
  margin: auto;
}

.wrapper--footer {
  max-width: $max-width;
  margin: auto;
}